@dropdown-menu-min-width: 200px;
@dropdown-menu-padding-top: 4px;
@dropdown-content-bg: #fff;
@dropdown-content-padding: 8px 0;
@dropdown-content-opacity: 1;
@dropdown-item-separator-margin: 7px 10px;
@dropdown-item-list-icon-margin: 5px;

.self-dropdown {
  position: relative;
  display: inline-block;
}